<blockquote class="quote"> 
    <p class="quote__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta vel quos
      similique provident dolores reiciendis nobis consequuntur. Libero, facere vel.</p>
      </blockquote>
      <footer>
       <div class="media">
         <div class="media__image"></div>
           <svg class="icon icon--primary quote__line">
             <use :href="images/sprite.svg#line"></use>
           </svg>
           <div>
             <div class="media__body">
               <h3 class="media__title quote__author">Victoria Umofffia</h3>
               <p class="quote__organization">TORIANN Company</p>
             </div>
   
      </footer>